/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

/* Colors */
/* Font weight */
.explore-button {
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  text-decoration: none;
  border-radius: 50px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12);
  font-family: "Roboto";
  font-weight: 400;
  padding: 1rem 2rem;
  color: white;
}

.explore-button:hover {
  background: linear-gradient(to bottom right, #9356DC, #FF79DA);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.12);
}

.order-button {
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  text-decoration: none;
  border-radius: 50px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12);
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  padding: 1rem 3rem;
  color: white;
}

.order-button:hover {
  background: linear-gradient(to bottom right, #9356DC, #FF79DA);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.12);
}

.restaurant-card {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  text-decoration: none;
  background: white;
  height: 250px;
  width: 100%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.08), 0 6px 6px rgba(0, 0, 0, 0.08);
}
@media screen and (min-width: 768px) {
  .restaurant-card {
    display: flex;
    justify-content: center;
    flex: 1;
  }
}
.restaurant-card .restaurant-card-img {
  object-fit: cover;
  height: calc(100% - 60px);
  width: 100%;
}
.restaurant-card .restaurant-card-down-area {
  display: flex;
  flex-direction: row;
  padding: 0.75rem 1rem;
  justify-content: space-between;
  align-items: center;
}
.restaurant-card .restaurant-card-down-area .restaurant-card-txt {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: black;
  font-family: "Roboto";
}
.restaurant-card .restaurant-card-down-area .restaurant-card-txt .card-txt-medium {
  font-size: 14px;
}
.restaurant-card .restaurant-card-down-area .restaurant-card-heart {
  font-size: 1.4rem;
  color: #353535;
}
.restaurant-card .restaurant-card-new {
  position: absolute;
  background: #99e2d0;
  color: #008766;
  top: 1rem;
  right: 1rem;
  padding: 0.4rem 0.6rem;
  font-family: "Roboto";
  font-size: 0.8rem;
  font-weight: 700;
}

.restaurant-card:hover {
  transform: scale(1.02);
  transition: transform ease-in-out 200ms;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.08), 0 10px 10px rgba(0, 0, 0, 0.08);
}

h4 {
  font-weight: 700;
  font-size: 18px;
}

.card-food {
  display: flex;
  justify-content: space-between;
  height: 65px;
  overflow: hidden;
  margin-top: 1rem;
  background-color: white;
  border-radius: 20px;
  font-family: "Roboto";
  cursor: pointer;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.04), 0 4px 4px rgba(0, 0, 0, 0.04);
}

.card-food-description {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  padding: 0.8rem;
  text-overflow: ellipsis;
}

.card-food-meal-txt {
  overflow: hidden;
  text-overflow: ellipsis;
}

h3 {
  font-size: 18px;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.card-food-price {
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
  font-weight: 700;
  padding: 0.8rem 1rem 0.8rem 0;
}

.card-food-anim {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #99e2d0;
  color: white;
  width: 60px;
  margin-right: -60px;
  transition: margin-right 500ms ease-in-out;
}

.card-food:hover .card-food-anim {
  margin-right: 0px;
}

.card-food:hover .fa-check-circle {
  transform: rotate(0deg);
}

.fa-check-circle {
  transition: 800ms ease-in-out;
  transform: rotate(-180deg);
}

/* Animation du coeur des cartes de la page principale */
.home-heart {
  position: relative;
  height: 1.4rem;
  overflow: hidden;
  width: 25px;
}

.home-heart1 {
  position: absolute;
  bottom: 0;
  font-size: 1.4rem;
  color: #353535;
}

.home-span-heart {
  max-height: 0;
  transition: max-height 1s ease-in-out;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.home-heart2 {
  position: relative;
  transform: translateY(-100%);
  transition: transform 1s ease-in-out;
  font-size: 1.4rem;
  color: #FF79DA;
}

.home-heart:hover .home-span-heart {
  max-height: 1.4rem;
}

.home-heart:hover .home-heart2 {
  transform: translateY(0);
}

/* Animation du coeur des pages de restaurant */
.rpt-heart {
  position: relative;
  height: 2rem;
  overflow: hidden;
  width: 40px;
}

.restaurant-heart1 {
  position: absolute;
  bottom: 0;
  font-size: 2rem;
  color: black;
}

.rpt-span-heart {
  max-height: 0;
  transition: max-height 1s ease-in-out;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}

.restaurant-heart2 {
  position: relative;
  transform: translateY(-100%);
  transition: transform 1s ease-in-out;
  color: #FF79DA;
  font-size: 2rem;
}

.rpt-heart:hover .rpt-span-heart {
  max-height: 2rem;
}

.rpt-heart:hover .restaurant-heart2 {
  transform: translateY(0);
}

.loader {
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
  background-color: #eaeaea;
  animation: transition 3s ease-in-out 1s forwards, size 1ms linear 3s forwards;
}

.loading-bar {
  position: absolute;
  height: 60px;
  width: 530px;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
}
.loading-bar p {
  display: inline-block;
  text-align: center;
  font-size: 5rem;
  font-family: "Shrikhand";
  font-weight: 400;
  transform: scale(0.7);
  color: #353535;
}
.loading-bar p:nth-child(1) {
  animation: hover 1.5s ease-in-out infinite reverse;
}
.loading-bar p:nth-child(2) {
  animation: hover 1.5s ease-in-out infinite reverse 0.125s;
}
.loading-bar p:nth-child(3) {
  animation: hover 1.5s ease-in-out infinite reverse 0.25s;
}
.loading-bar p:nth-child(4) {
  animation: hover 1.5s ease-in-out infinite reverse 0.375s;
}
.loading-bar p:nth-child(5) {
  animation: hover 1.5s ease-in-out infinite reverse 0.5s;
}
.loading-bar p:nth-child(6) {
  animation: hover 1.5s ease-in-out infinite reverse 0.625s;
}
.loading-bar p:nth-child(7) {
  animation: hover 1.5s ease-in-out infinite reverse 0.75s;
}
.loading-bar p:nth-child(8) {
  animation: hover 1.5s ease-in-out infinite reverse 0.875s;
}

@keyframes hover {
  0% {
    transform: scale(0.7);
    color: #353535;
    -webkit-text-stroke: 2px gray;
  }
  20% {
    transform: scale(1);
    color: #FF79DA;
    -webkit-text-stroke: 3px #FF79DA;
    filter: drop-shadow(0 0 1px black) drop-shadow(0 0 1px black) drop-shadow(0 0 3px #FF79DA) drop-shadow(0 0 5px #FF79DA);
  }
  40% {
    transform: scale(1);
    color: #99e2d0;
    -webkit-text-stroke: 3px #99e2d0;
    filter: drop-shadow(0 0 1px black) drop-shadow(0 0 1px black) drop-shadow(0 0 3px #99e2d0) drop-shadow(0 0 5px #99e2d0);
  }
  80% {
    transform: scale(0.7);
    color: #9356DC;
    -webkit-text-stroke: 2px gray;
  }
}
@keyframes transition {
  100% {
    z-index: 0;
    opacity: 0;
  }
}
@keyframes size {
  100% {
    width: 0;
    height: 0;
  }
}
#header-logo {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 1rem 0;
}

.header-restaurant {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  position: relative;
}
.header-restaurant .left-arrow {
  position: absolute;
  left: 1rem;
  text-decoration: none;
}
.header-restaurant .left-arrow:link, .header-restaurant .left-arrow:visited {
  color: black;
}
.header-restaurant .title-header {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 2rem;
}

footer {
  background: #353535;
  padding: 2rem;
}
@media screen and (min-width: 1440px) {
  footer {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1024px) {
  footer {
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
}
footer ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Roboto";
  font-weight: 400;
  color: white;
}
@media screen and (min-width: 1440px) {
  footer ul {
    display: flex;
    flex-direction: row;
  }
}
footer ul .footer-li {
  display: flex;
  gap: 10px;
}

.logo-footer {
  filter: brightness(2000%);
  height: 16px;
  margin-bottom: 1rem;
}

.footer-icon {
  width: 16px;
  font-size: 14px;
}

.hand-shake {
  font-size: 12px;
}

.footer-txt-thin {
  font-weight: 300;
}
.footer-txt-thin a {
  color: inherit;
  font-style: inherit;
  text-decoration: none;
}

body {
  background-color: #99E2D0;
}

.responsive-card {
  background-color: white;
}
@media screen and (min-width: 1024px) {
  .responsive-card {
    max-width: 768px;
    margin: 1rem auto;
    border-radius: 1rem;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12), 0 40px 40px rgba(0, 0, 0, 0.25);
  }
}
@media screen and (min-width: 1440px) {
  .responsive-card {
    max-width: 1280px;
    margin: 1rem auto;
    border-radius: 1rem;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12), 0 40px 40px rgba(0, 0, 0, 0.25);
  }
}

.localisation {
  display: flex;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
  background: #eaeaea;
  box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.1);
}
.localisation .position-ville {
  font-family: "Roboto";
  font-weight: 400;
}

.teaser {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 1rem 3rem 5rem 3rem;
  gap: 1rem;
  background: #f6f6f6;
}
.teaser .teaser-str {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}
.teaser .teaser-low {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
}

.goal-txt {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 24px;
  padding: 2rem 2rem 0 2rem;
}
@media screen and (min-width: 768px) {
  .goal-txt {
    display: flex;
    justify-content: center;
  }
}

.goal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 2rem;
  gap: 2rem;
}
@media screen and (min-width: 1024px) {
  .goal {
    flex-direction: row;
    flex: 1;
    justify-content: center;
  }
}
.goal .goal-btn {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.2rem 1.2rem 1.2rem 0;
  background: #f6f6f6;
  text-decoration: none;
  border-radius: 25px;
  width: 280px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.08), 0 8px 8px rgba(0, 0, 0, 0.08);
}
.goal .goal-btn .gl-btn-nb {
  position: relative;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #9356DC;
  left: 0%;
  transform: translate(-50%);
}
.goal .goal-btn .gl-btn-nb span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.goal .goal-btn .gl-btn-icon {
  color: #7e7e7e;
  font-size: 1.2rem;
}
.goal .goal-btn .gl-btn-txt {
  color: black;
  font-family: "Roboto";
  font-weight: 700;
}

.goal-btn:hover {
  background: #fbfbfb;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.08), 0 12px 12px rgba(0, 0, 0, 0.08);
}

.goal-btn:hover .gl-btn-icon {
  color: #FF79DA;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 2rem;
  display: grid;
  width: 100%;
  gap: 2rem;
}
@media screen and (min-width: 1024px) {
  .restaurants {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1440px) {
  .restaurants {
    grid-template-columns: repeat(4, 1fr);
  }
}

h2 {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 1.5rem;
  width: 100%;
  background-color: #f6f6f6;
  padding: 2rem 2rem 0 2rem;
}
@media screen and (min-width: 768px) {
  h2 {
    display: flex;
    justify-content: center;
  }
}

.restaurant-img-bg {
  object-fit: cover;
  height: 300px;
  width: 100%;
}

.restaurant-page-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  margin-top: -25px;
  background-color: #f6f6f6;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 1rem 1.5rem;
}
.restaurant-page-title .rpt-txt {
  font-family: "Shrikhand";
  font-weight: 400;
  font-size: 1.6rem;
}

.restaurant-page-body {
  background-color: #f6f6f6;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
@media screen and (min-width: 1440px) {
  .restaurant-page-body {
    flex-direction: row;
  }
}

.restaurant-page-titre {
  font-family: "Roboto";
  font-weight: 300;
}

.restaurant-page-titre::after {
  content: "";
  display: block;
  margin-top: 0.3rem;
  width: 50px;
  border-bottom: 4px solid #99e2d0;
}

.restaurant-page-order {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.restaurant-page-entrees {
  width: 100%;
  max-width: 380px;
  animation: 2s forwards ease-in-out SlideUp;
}

.restaurant-page-plats {
  opacity: 0;
  animation: 2s forwards ease-in-out SlideUp;
  animation-delay: 0.5s;
  width: 100%;
  max-width: 380px;
}

.restaurant-page-desserts {
  opacity: 0;
  animation: 2s forwards ease-in-out SlideUp;
  animation-delay: 1s;
  width: 100%;
  max-width: 380px;
}

@keyframes SlideUp {
  0% {
    transform: translateY(-10%);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
