@use '../utils/variables' as v;


.explore-button{
    background:linear-gradient(to bottom right, v.$clr-secondary, v.$clr-primary);
    text-decoration: none;
    border-radius: 50px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
                0 2px 2px rgba(0,0,0,0.12), 
                0 4px 4px rgba(0,0,0,0.12), 
                0 8px 8px rgba(0,0,0,0.12);
    font-family: "Roboto";
    font-weight: v.$clr-medium;
    padding: 1rem 2rem;
    color: white;

}

.explore-button:hover{
    background: linear-gradient(to bottom right, v.$clr-primary, v.$clr-secondary);
    box-shadow: 0 10px 10px rgba(0,0,0,0.12), 
}



.order-button{
    background:linear-gradient(to bottom right, v.$clr-secondary, v.$clr-primary);
    text-decoration: none;
    border-radius: 50px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.12), 
                0 2px 2px rgba(0,0,0,0.12), 
                0 4px 4px rgba(0,0,0,0.12), 
                0 8px 8px rgba(0,0,0,0.12);
    font-family: "Roboto";
    font-weight: v.$clr-medium;
    font-size: 18px;
    padding: 1rem 3rem;
    color: white;
}

.order-button:hover{
    background: linear-gradient(to bottom right, v.$clr-primary, v.$clr-secondary);
    box-shadow: 0 10px 10px rgba(0,0,0,0.12), 
}