@use '../utils/variables' as v;

.card-food{
    display: flex;
    justify-content: space-between;
    height: 65px;
    max-width: 500px;
    overflow: hidden;
    margin-top: 1rem;
    background-color: white;
    border-radius: 20px;
    font-family: "Roboto";
    box-shadow: 0 2px 2px rgba(0,0,0,0.04),
                0 4px 4px rgba(0,0,0,0.04);

}

.card-food-description{
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    padding: 0.8rem;
}

.card-food-txt-down{
    display: flex;
    width: 100%;

    span{
        overflow: hidden;
        text-overflow: ellipsis;

    }


}

h3{
    font-size: 18px;
    font-weight: v.$clr-strong;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.card-food-price{
    display: flex;
    align-items: flex-end;
    font-weight: v.$clr-strong;
}

.card-food-anim{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: v.$clr-green1;
    color: white;
    width: 60px;
    margin-right: -60px;
    transition: margin 500ms ease-in-out;

}

.card-food:hover .card-food-anim{
    margin-right: 0;
}

.card-food:hover .fa-check-circle{
    transform: rotate(0deg);
    
}

.fa-check-circle{
    transition: 800ms ease-in-out;
    transform: rotate(-180deg);
}
