@use '../utils/variables' as v;

.rpt-heart{
    position: relative;
    height: 2rem;
    overflow: hidden;
    width: 40px;
}

.restaurant-heart1{
    position: absolute;
    bottom: 0;
    font-size: 2rem;
    color: black;
}

.rpt-span-heart{
    max-height: 0;
    transition: max-height 1s ease-in-out;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;

}

.restaurant-heart2{
    position: relative;
    transform: translateY(-100%);
    transition: transform 1s ease-in-out;
    color: v.$clr-secondary;
    font-size: 2rem;

}

.rpt-heart:hover .rpt-span-heart{
    max-height: 2rem;

}

.rpt-heart:hover .restaurant-heart2{
    transform: translateY(0);

}