@use '../utils/variables' as v;





.restaurant-img-bg{
    object-fit: cover;
    height: 300px;
    width: 100%;

}

.restaurant-page-title{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    margin-top: -25px;
    background-color: v.$clr-grey1;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 1rem 1.5rem;

        .rpt-txt{
            font-family: "Shrikhand";
            font-weight: v.$clr-medium;
            font-size: 1.6rem;
        }
    
}

.restaurant-page-body{
    background-color: v.$clr-grey1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    
    @media screen and (min-width: 1440px) {
        flex-direction: row;
        
    }
}



.restaurant-page-titre{
    font-family: "Roboto";
    font-weight: v.$clr-thin;

}

.restaurant-page-titre::after{
    content: "";
    display: block;
    margin-top: 0.3rem;
    width: 50px;
    border-bottom: 4px solid v.$clr-green1;

}

.restaurant-page-order{
    background-color: v.$clr-grey1;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 3rem;
}


.restaurant-page-entrees{

    width: 100%;
    max-width: 380px;
    animation: 2s forwards ease-in-out SlideUp;
}
.restaurant-page-plats{
    opacity: 0;
    animation: 2s forwards ease-in-out SlideUp;
    animation-delay: 0.5s;
    width: 100%;
    max-width: 380px;
}
.restaurant-page-desserts{
    opacity: 0;
    animation: 2s forwards ease-in-out SlideUp;
    animation-delay: 1s;
    width: 100%;
    max-width: 380px;
}

@keyframes SlideUp {
    0%{
        transform: translateY(-10%);
        opacity: 0;
    }
    50%{
        opacity: 0.5;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
        
    }

}