/* Colors */
$clr-primary: #9356DC;
$clr-secondary: #FF79DA;
$clr-tertiary: #99E2D0;
$clr-grey1: #f6f6f6;
$clr-grey2: #eaeaea;
$clr-grey3: #353535;
$clr-green1: #99e2d0;


/* Font weight */
$clr-thin: 300;
$clr-medium: 400;
$clr-strong: 700;


