@use '../utils/variables' as v;


#header-logo{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 1rem 0;
}

.header-restaurant{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    position: relative;

    .left-arrow{
        position: absolute;
        left: 1rem;
        text-decoration: none;
    }
    .left-arrow:link, .left-arrow:visited{
        color: black;
    }

    .title-header{
            font-family: "Shrikhand";
            font-weight: v.$clr-medium;
            font-size: 2rem;
        }

}    

